compiled*
scribblings/*.js
scribblings/*.css
scribblings/*.html
scribblings/*.png
scribblings/team-profiles/pict.png
doc*
*doc/*

!scribblings/team-profiles/profile-pics/*.png
*~
*.html
*.sxref
scribblings/*.dep
scribblings/*.zo
Languages/my-fundamentals-lang/doc/*
Kata-Collections/my-fundamentals-katas/doc/*
Languages/my-data-sci-lang/doc/*
Kata-Collections/my-data-sci-katas/doc/*
*.swp
*.swo
